@import url("https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300..700;1,300..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --background-color: #1a1a1a;
  --text-color: #f2f2f2;
  --surface-container-color: #3b690f;
  --on-surface-container-color: #7eb847;
  --disabled-bg-color: #3a462e;
  --disabled-text-color: #637a4d;
}

body * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  color: var(--text-color);
}

html,
body {
  cursor: url("assets/cursor.png"), auto;

  background-color: var(--background-color);
}

.clicker-container {
  position: relative;
  width: 24rem;
  height: 24rem;
}

.clicker-container img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.clicker-container .beams {
  width: 100%;
  opacity: 0.4;
  animation: spin 120s linear infinite;
}

.clicker-container .clicker-img {
  width: 60%;
  transition: transform 0.5s ease-out;
}

.wrapper {
  display: flex;
}

.upgrade-container {
  flex: auto;
  padding-left: 3%;
  padding-right: 3%;
  height: 24rem;
  overflow-y: auto;
}

.upgrade-container .upgrade {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  font-size: 1.5rem;
  font-weight: 500;
  background-color: var(--surface-container-color);
  border: none;
  transition: all 0.15s ease-out;
}

.upgrade-container .upgrade p {
  color: var(--on-surface-container-color);
}

.upgrade-container .upgrade span {
  font-size: 1rem;
  color: var(--on-surface-container-color);
  background-color: rgb(28, 68, 28);
  padding: 0.2rem 0.5rem;
  border-radius: 0.5rem;
}

.upgrade-container .upgrade-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

.upgrade-container .upgrade:hover {
  background-color: var(--on-surface-container-color);
  transition: all 0.15s ease-out;
}

.upgrade-container .upgrade:hover p {
  color: var(--surface-container-color);
}

.upgrade-container .upgrade img {
  width: 2.5rem;
}

.upgrade-container .upgrade.disabled,
.upgrade-container .upgrade.disabled:hover p {
  background-color: var(--disabled-bg-color) !important;
  color: var(--disabled-text-color) !important;
  transition: all 0.15s ease-out !important;
}

@keyframes spin {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
